.btn {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 100%;
    padding: 0.8rem 1.2rem;
    background-color: #3B8E65;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    border-radius: 2.5rem;
    cursor: pointer;
    z-index: 0;
}

@media only screen and (max-width: 768px) {
    .btn {
        padding: 1.3rem 6.0rem 1.3rem 3.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.1em;
        border-radius: 2.5rem;
    }
}

.btn span {
    position: relative;
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    z-index: 3;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: 2.5rem;
    border: 2px solid #3B8E65;
    z-index: 2;
}

@media only screen and (max-width: 768px) {
    .btn::after {
        border-width: 2px;
    }
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    z-index: 1;
}

.btn:hover {
    color: #3B8E65;
}

.btn:hover::before {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btn-register.btn {
    border-radius: 6px;
    width: 12.8rem;
    height: 4.6rem;
    background: #CEBA6E;
    color: $green_color;
    font-family: "Higure Gothic";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100% */
}

.btn-register.btn::before {
    background: #F5F5F5;
}

.btn-register.btn::after {
    border: unset;
}

.btn-login.btn {
    border-radius: 6px;
    width: 12.8rem;
    height: 4.6rem;
    background: #F5F5F5;
    color: $green_color;
    font-family: "Higure Gothic";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100% */
}

.btn-login.btn::before {
    background: #CEBA6E;
}

.btn-login.btn::after {
    border: none;
}

.btn-green.btn {
    border-radius: 6px;
    background: #104A00;
    width: 12.8rem;
    height: 4.6rem;
    background: $green_color;
    color: #FFF;
    font-family: "Higure Gothic";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 93.75% */
}
.btn-green.btn:hover {
    color: $green_color;
}
.btn-green.btn::before {
    background: #FFF;
}
.btn-green.btn::after {
    border: 1px solid $green_color;
    border-radius: 6px;
}

.category.btn {
    border-radius: 90px;
    width: 13.6rem;
    height: 2.4rem;
    padding: 0;
    background: #FFF;
    color: $green_color;
    font-family: "Higure Gothic";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100% */
}

.category.btn.active {
    background: $green_color;
    color: #FFF;
    cursor: auto;
}

.category.btn::before {
    background: $green_color;
}

.category.btn::after {
    border: 2px solid $green_color;
}

.category.btn:hover {
    color: #FFF;
    z-index: 2;
}

.btn-rightarrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.4rem;
    width: fit-content;
    font-family: "Higure Gothic";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    z-index: 0;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: $green_color;
        bottom: -1.0rem;
        left: 0;
    }

    @include media('sp') {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        font-size: 1.4rem;
    }

    &:hover svg {
        animation: bounce-right 0.8s infinite;
    }

    @keyframes bounce-right {

        0%,
        100% {
            transform: translateX(0);
        }

        30% {
            transform: translateX(15px);
        }

        /* 60% {
          transform: translateX(12px);
        } */
    }
}

.btn-leftarrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.2rem;
    width: fit-content;
    font-family: "Higure Gothic";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    color: $green_color;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    z-index: 0;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: $green_color;
        bottom: -1.0rem;
        left: 0;
    }

    @include media('sp') {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        font-size: 1.4rem;
    }

    &:hover svg {
        animation: bounce-left 0.8s infinite;
    }

    @keyframes bounce-left {

        0%,
        100% {
            transform: translateX(0);
        }

        30% {
            transform: translateX(-15px);
        }

        /* 60% {
          transform: translateX(12px);
        } */
    }
}