#top-page {
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 7.6rem;
        background: #CEBA6E;
        color: $green_color;

        span {
            width: 4.8rem;
            height: 1px;
            background: $green_color;
            margin: 0 1.2rem 0 4.0rem;
        }
    }

    .news {
        margin-top: 9.6rem;
    }

    .head-title {
        color: $green_color;
        margin-bottom: 3.2rem;
    }

    .activities {
        margin-top: 12rem;

        .link-wrapper {
            margin-bottom: 4.0rem;
        }

        .activities-list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0px, 1fr));
            grid-column-gap: 3.2rem;
        }
    }

    .search-pannel {
        margin-top: 12rem;

        .head-title {
            margin-bottom: 3.2rem;
        }

        .description {
            margin-bottom: 5.6rem;
        }

        .searh-wrapper {
            .label {
                margin-bottom: 2.4rem;
            }

            .check-list {
                display: flex;
                column-gap: 2.4rem;
                align-items: center;
            }

            .pannel-item {
                &:not(:last-child) {
                    margin-bottom: 4.8rem;
                }
            }
        }

        .btn-green {
            margin-top: 4.7rem;
        }
    }

    .learning-value {
        margin-top: 12.8rem;

        .description {
            margin-bottom: 5.6rem;
        }

        .special-wrapper {
            margin-bottom: 7.2rem;

            .link-wrapper {
                margin-bottom: 3.2rem;
            }

            .special-list {
                display: flex;
                column-gap: 3.2rem;

                .special-item {
                    padding: 4.5rem 4.0rem;
                    width: 100%;
                    aspect-ratio: 584 / 303;
                    border: 1px solid #E3D9CA;
                    background: #FFF;
                }
            }
        }

        .improvement-pro {
            margin-bottom: 7.2rem;

            .link-wrapper {
                margin-bottom: 3.2rem;
            }

            .improvement-list {
                display: flex;
                column-gap: 3.2rem;

                .improvement-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 276 / 300;

                    img {
                        width: 16rem;
                        height: 16rem;
                        margin-bottom: 2.4rem;
                    }

                    .label {
                        color: $green_color;
                    }
                }
            }
        }

        .process-wrapper {
            .part-title {
                margin-bottom: 3.2rem;
            }

            .process-list {
                display: flex;
                column-gap: 3.2rem;

                .process-item {
                    width: 100%;
                    aspect-ratio: 276 / 232;
                    border: 1px solid var(--green, #104A00);
                    background: #FFF;

                    &:not(:last-child) {
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../img/right-arrow.svg);
                            top: calc(50% - 1.6rem);
                            right: -3.2rem;
                            width: 3.2rem;
                            height: 3.2rem;
                        }
                        .content {
                            text-align: center !important;
                        }
                    }

                    .step-label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $green_color;
                        height: 4.0rem;
                        color: #FFF;
                        font-family: "Montserrat";
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 16px;
                        /* 88.889% */
                    }

                    .step-content {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 3.2rem;

                        .step-title {
                            width: fit-content;
                            text-align: center;
                            margin-bottom: 2.4rem;
                        }

                        .content {
                            width: fit-content;
                            line-height: 2.2rem;
                        }
                    }
                }
            }
        }
    }
    .example-section {
        margin-top: 10.4rem;
        .link-wrapper {
            margin-bottom: 4.0rem;
        }
        .example-list {
            display: flex;
            column-gap: 3.2rem;
            margin-bottom: 6.0rem;
            .example-item {
                padding: 4.0rem 3.2rem;
                border: 1px solid #E3D9CA;
                background: #FFF;
                .title {
                    color: $green_color;
                    margin-bottom: 2.4rem;
                }
                .content {
                    line-height: 2.2rem;
                    margin-bottom: 3.2rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* Number of lines to display */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .last-section {
        margin-bottom: 7.0rem;
        .description {
            color: #1C1C1C;
            margin-bottom: 2.7rem;
        }
        .contents-list {
            width: 70%;
            position: relative;
            display: flex;
            column-gap: 4.6rem;

            .contents-item {
                width: 100%;
                border: 1px solid #000;
                background: #FFF;
                aspect-ratio: 417 / 142;
                &:first-child {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                &:last-child {
                    padding: 1.6rem 3.0rem;
                    .desc{
                        padding-left: 2.4rem;
                    }
                }
                .title {
                    color: #1C1C1C;
                    margin-bottom: 3.4rem;
                }
                .desc {
                    color: #1C1C1C;
                    line-height: 3.0rem;
                }
            }
        }
    }
}

#news-page {
    margin-bottom: 8.8rem;
    .head-title {
        margin-bottom: 4.8rem;
    }
    .category-list {
        display: flex;
        column-gap: 2.4rem;
        flex-wrap: wrap;
        margin-bottom: 4.8rem;
        .category-item {
            .category.btn {
                width: 16.9rem;
                height: 4.0rem;
                font-size: 1.5rem;
            }
        }
    }
    .news-wrapper {
        display: flex;
        column-gap: 9.6rem;
        .left-wrapper {
            width: calc(78% - 4.8rem);
            .news-list {
                .news-item {
                    .date {
                        width: 13.6%;
                    }
                    .categories {
                        width: 16.8%;
                    }
                }
            }
        }
        .side-wrapper {
            width: calc(22% - 4.8rem);
            .side-list {
                display: flex;
                flex-direction: column;
                row-gap: 2.4rem;
                .side-item {
                    aspect-ratio: 214 / 138;
                    background: #D9D9D9;
                    padding: 3.9rem 2.4rem;
                    color: #1C1C1C;
                    line-height: 3.0rem;
                }
            }
        }
    }
}