main {
    margin-top: 13rem;
}

.font-15-400 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 146.667% */
}

.font-15-500 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 100% */
    letter-spacing: 0.45px;
}

.font-15-700 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 106.667% */
}

.font-16-400 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 162.5% */
}

.font-16-700 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100% */
}

.font-17-700 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.font-18-500 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 83.333% */
}

.font-18-700 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 155.556% */
}

.font-20-700 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100% */
}

.font-24-700 {
    color: #52432C;
    font-family: "Higure Gothic";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 83.333% */
}

.font-32-700 {
    color: $brown_color;
    font-family: "Higure Gothic";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 75% */
}

.activity-item {
    position: relative;
    padding: 4.0rem 3.2rem;
    width: 100%;
    aspect-ratio: 379 / 298;
    border: 1px solid #E3D9CA;

    .title {
        color: $green_color;
        margin-bottom: 1.6rem;
        line-height: 2.4rem;
    }

    .content {
        margin-bottom: 2.0rem;
        line-height: 2.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* Number of lines to display */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .company-province {
        margin-bottom: 2.0rem;
    }
}

.activity-item.new::after {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "NEW";
    padding: 0.5rem 1.6rem;
    background: #CEBA6E;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 108.333% */
}

.activity-item:hover {
    opacity: 0.7;
}

.categories {
    display: flex;
    column-gap: 0.8rem;
}

.news {
    .head-title {
        margin-bottom: 3.2rem;
        color: $green_color;
    }

    .news-list {
        .news-item {
            position: relative;
            width: 100%;
            padding: 1.6rem 0;
            border-bottom: 1px solid #E3D9CA;

            a {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;

                &:hover {
                    opacity: 0.7;
                }
            }

            .date {
                width: 12%;
                flex-shrink: 0;
            }

            .categories {
                width: 13.6%;
                flex-shrink: 0;
            }

            .title {
                width: 75%;
                color: $green_color;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.1rem;

    a {
        display: flex;
        align-items: center;
        color: $green_color;
        column-gap: 2.4rem;
    }
}

.head-title {
    color: $green_color;
}

/* custom checkbox */
input[type=checkbox] {
    position: relative;
    border-radius: 4px !important;
    border: 1px solid #CEA76E !important;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 2.0rem !important;
    width: 2.0rem !important;
    -webkit-appearance: none;
    opacity: 1;
    background: #FFF;
    margin: 0 !important;
}

input[type=checkbox]:hover {
    opacity: 0.7;
}

input[type=checkbox]:checked {
    background-color: $green_color;
    border: 1px solid $green_color !important;
    opacity: 1;
}

input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: calc(50% + 0rem);
    top: 50%;
    width: 0.5rem;
    height: 1rem;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

input[type=checkbox]:indeterminate {
    background: $green_color;
}

input[type=checkbox]:indeterminate:before {
    border-width: 0;
    transform: unset;
    width: 6px;
    height: 6px;
    top: 5px;
    left: 5px;
    background: #FFF;
}

.breadcrump {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.8rem;
    background: #CEBA6E;
    padding: 1.0rem 5.6rem;
    height: 3.6rem;
    color: $green_color;
    font-family: "Higure Gothic";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    /* 100% */
    margin-bottom: 7.2rem;

    .home {
        img {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    .link {
        font-weight: 500;
        white-space: nowrap;

        &:hover {
            opacity: 0.7;
        }
    }

    .right-symbol {
        width: 1.6rem;
        height: 1.6rem;
    }

    .current-page {
        white-space: nowrap;
        font-weight: 400;
    }
}

.pagination {
    margin-top: 4.0rem;

    .pager__wrap {
        display: flex;
        justify-content: center;
        column-gap: 0.8rem;

        .pager__bt {
            text-align: center;
            color: #104A00;
            font-family: "Futura";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;

            .page-numbers {
                display: block;
                width: 3.2rem;
                height: 3.2rem;
                font-weight: 500;
                padding-top: 0.6rem;

                &.current {
                    font-weight: 700;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background: $green_color;
                    }
                }

                &.next {
                    display: none;
                }

                &.prev {
                    display: none;
                }
            }
        }
    }
}

.include-sidebar {
    display: flex;
    column-gap: 9.6rem;
}

.left-side {
    width: calc(78% - 4.8rem);

    .news-list {
        .news-item {
            .date {
                width: 13.6%;
            }

            .categories {
                width: 16.8%;
            }
        }
    }
}

.right-sidebar {
    width: calc(22% - 4.8rem);

    .side-list {
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;

        .side-item {
            aspect-ratio: 214 / 138;
            background: #D9D9D9;
            padding: 3.9rem 2.4rem;
            color: #1C1C1C;
            line-height: 3.0rem;
        }
    }
}