#top-page {
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 7.6rem;
        background: #CEBA6E;
        color: $green_color;

        span {
            width: 4.8rem;
            height: 1px;
            background: $green_color;
            margin: 0 1.2rem 0 4.0rem;
        }
    }

    .news {
        margin-top: 9.6rem;
    }

    .head-title {
        color: $green_color;
        margin-bottom: 3.2rem;
    }

    .activities {
        margin-top: 12rem;

        .link-wrapper {
            margin-bottom: 4.0rem;
        }

        .activities-list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0px, 1fr));
            grid-column-gap: 3.2rem;
        }
    }

    .search-pannel {
        margin-top: 12rem;

        .head-title {
            margin-bottom: 3.2rem;
        }

        .description {
            margin-bottom: 5.6rem;
        }

        .btn-green {
            margin-top: 4.7rem;
        }
    }

    .learning-value {
        margin-top: 12.8rem;

        .description {
            margin-bottom: 5.6rem;
        }

        .special-wrapper {
            margin-bottom: 7.2rem;

            .link-wrapper {
                margin-bottom: 3.2rem;
            }

            .special-list {
                display: flex;
                column-gap: 3.2rem;

                .special-item {
                    padding: 4.5rem 4.0rem;
                    width: 100%;
                    aspect-ratio: 584 / 303;
                    border: 1px solid #E3D9CA;
                    background: #FFF;
                }
            }
        }

        .improvement-pro {
            margin-bottom: 7.2rem;

            .link-wrapper {
                margin-bottom: 3.2rem;
            }

            .improvement-list {
                display: flex;
                column-gap: 3.2rem;

                .improvement-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 276 / 300;

                    img {
                        width: 16rem;
                        height: 16rem;
                        margin-bottom: 2.4rem;
                    }

                    .label {
                        color: $green_color;
                    }
                }
            }
        }

        .process-wrapper {
            .part-title {
                margin-bottom: 3.2rem;
            }

            .process-list {
                display: flex;
                column-gap: 3.2rem;

                .process-item {
                    width: 100%;
                    aspect-ratio: 276 / 232;
                    border: 1px solid var(--green, #104A00);
                    background: #FFF;

                    &:not(:last-child) {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../img/right-arrow.svg);
                            top: calc(50% - 1.6rem);
                            right: -3.2rem;
                            width: 3.2rem;
                            height: 3.2rem;
                        }

                        .content {
                            text-align: center !important;
                        }
                    }

                    .step-label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $green_color;
                        height: 4.0rem;
                        color: #FFF;
                        font-family: "Montserrat";
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 16px;
                        /* 88.889% */
                    }

                    .step-content {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 3.2rem;

                        .step-title {
                            width: fit-content;
                            text-align: center;
                            margin-bottom: 2.4rem;
                        }

                        .content {
                            width: fit-content;
                            line-height: 2.2rem;
                        }
                    }
                }
            }
        }
    }

    .example-section {
        margin-top: 10.4rem;

        .link-wrapper {
            margin-bottom: 4.0rem;
        }

        .example-list {
            display: flex;
            column-gap: 3.2rem;
            margin-bottom: 6.0rem;

            .example-item {
                padding: 4.0rem 3.2rem;
                border: 1px solid #E3D9CA;
                background: #FFF;

                .title {
                    color: $green_color;
                    margin-bottom: 2.4rem;
                }

                .content {
                    line-height: 2.2rem;
                    margin-bottom: 3.2rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    /* Number of lines to display */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .last-section {
        margin-bottom: 7.0rem;

        .description {
            color: #1C1C1C;
            margin-bottom: 2.7rem;
        }

        .contents-list {
            width: 70%;
            position: relative;
            display: flex;
            column-gap: 4.6rem;

            .contents-item {
                width: 100%;
                border: 1px solid #000;
                background: #FFF;
                aspect-ratio: 417 / 142;

                &:first-child {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                &:last-child {
                    padding: 1.6rem 3.0rem;

                    .desc {
                        padding-left: 2.4rem;
                    }
                }

                .title {
                    color: #1C1C1C;
                    margin-bottom: 3.4rem;
                }

                .desc {
                    color: #1C1C1C;
                    line-height: 3.0rem;
                }
            }
        }
    }
}

#news-page {
    margin-bottom: 8.8rem;

    .head-title {
        margin-bottom: 4.8rem;
    }

    .category-list {
        display: flex;
        column-gap: 2.4rem;
        flex-wrap: wrap;
        margin-bottom: 4.8rem;

        .category-item {
            .category.btn {
                width: 16.9rem;
                height: 4.0rem;
                font-size: 1.5rem;
            }
        }
    }
}

#single-news {
    padding-bottom: 12rem;

    .title {
        margin-bottom: 2.4rem;
        line-height: 3.6rem;
    }

    .category-date {
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
        padding-bottom: 4.0rem;
        border-bottom: 1px solid #E3D9CA;
        margin-bottom: 4.0rem;

        .categories {
            display: flex;
            column-gap: 1.2rem;
            align-items: center;
        }
    }

    .news-detail {
        line-height: 2.6rem;

        h2 {
            position: relative;
            color: $brown_color;
            font-family: "Higure Gothic";
            font-size: 2.0rem;
            font-style: normal;
            font-weight: 700;
            margin-left: 1.6rem;
            line-height: 3.2rem;

            /* 120% */
            &::before {
                position: absolute;
                content: '';
                height: 100%;
                width: 3px;
                background: $green_color;
                top: 0;
                left: -1.6rem;
            }
        }

        h3 {
            color: $brown_color;
            font-family: "Higure Gothic";
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 100% */
        }
    }
}

#activities-page {
    .head-title {
        margin-bottom: 4.8rem;
    }

    .top-desc {
        line-height: 2.4rem;
        margin-bottom: 5.4rem;
    }

    .search-bar {
        display: flex;
        align-items: center;
        border: 1px solid #E3D9CA;
        border-radius: 6px;
        margin-bottom: 4.0rem;

        .search-symbol {
            padding-left: 1.6rem;

            img {
                width: 2.4rem;
                height: 2.4rem;
                flex-shrink: 0;
            }
        }

        #search-keys {
            border: unset;
            padding: 0.8rem 1.6rem;
            background: #FFF;
        }
    }

    .search-wrapper {
        margin-bottom: 6.4rem;
        .pannel-list {
            margin-bottom: 4.0rem;
        }
    }

    .activities-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        grid-column-gap: 3.2rem;
        grid-row-gap: 3.2rem;
        .activity-item {
            aspect-ratio: 461 / 306;
        }
    }

    .activities-wrapper {
        margin-bottom: 8.8rem;
    }
}

#single-activities {
    .title {
        color: $green_color;
        line-height: 4.0rem;
        margin-bottom: 2.4rem;
    }
    .favorite-wrapper {
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
        margin-bottom: 2.4rem;
        img {
            width: 3.2rem;
            height: 3.2rem;
        }
        .number {
            color: $brown_color;
            font-family: "Inter";
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 100% */
        }
    }
    .company-province {
        margin-bottom: 2.4rem;
    }
    .category-socials {
        display: flex;
        column-gap: 3.2rem;
        margin-bottom: 8.4rem;

        .categories {
            flex-wrap: wrap;
            row-gap: 0.8rem;
        }
        .addtoany {
            .addtoany_shortcode {
                display: flex;
                align-items: center;
                margin: 0;
                &::before {
                    white-space: nowrap;
                    margin-right: 1.6rem;
                }
                .a2a_kit {
                    white-space: nowrap;
                }
            }
        }
    }
    .activities-content {
        .header-text {
            line-height: 3.2rem;
            margin-bottom: 3.2rem;
        }
        .profile-image { 
            width: 100%;
            margin-bottom: 4.5rem;
        }
        .profile-pannel {
            background: #F5EDE2;
            padding: 3.2rem 4.0rem;
            margin-bottom: 5.2rem;
            .name {
                margin-bottom: 2.4rem;
            }
            .profile-text {
                line-height: 2.4rem;
            }
        }

        .by-image {
            .content-wrapper {
                h2 {
                    margin-top: 2.0rem;
                    color: var(--brown, #52432C);
                    font-family: "Higure Gothic";
                    font-size: 2.0rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 2.0rem; /* 100% */
                    display: flex;
                    align-items: center;
                    column-gap: 1.6rem;
                    &::before {
                        content: '';
                        width: 7.0rem;
                        height: 2px;
                        background: $brown_color;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
        .content-wrapper {
            line-height: 2.4rem;
            margin-bottom: 5.6rem;
        }
        .about-activities {
            width: 100%;
            background: #F5EDE2;
            padding: 4.0rem 5.6rem;
            margin-bottom: 4.0rem;
            .label {
                width: fit-content;
                margin: 0 auto 2.4rem auto;
            }
            .btn-wrapper {
                display: flex;
                justify-content: center;
                column-gap: 2.4rem;
                .btn {
                    width: fit-content;
                    padding: 0 2.8rem;
                    column-gap: 0.8rem;
                    letter-spacing: 0;
                    white-space: nowrap;
                    cursor: auto;
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                    &:hover {
                        color: #FFF;
                    }
                }
            }
        }
        .favorite-wrapper {
            margin-bottom: 3.2rem;
        }
        .btn-leftarrow {
            margin-bottom: 8.2rem;
        }
        .recommended-wrapper {
            margin-bottom: 12.7rem;
            .label {
                width: fit-content;
                margin: 0 auto 2.4rem 0;
            }
            .activities-list {
                display: grid;
                grid-template-columns: repeat(2, minmax(0px, 1fr));
                grid-column-gap: 3.2rem;
                grid-row-gap: 3.2rem;
                .activity-item {
                    aspect-ratio: 461 / 306;
                }
            }
        }
    }
}