footer {
    background: $green_color;
    padding: 4.8rem 0;

    .main-nav {
        margin-bottom: 1.2rem;
    }

    .assistant-nav {
        margin-bottom: 4.0rem;
    }

    .copyright {
        color: #FFF;
        font-family: "Montserrat";
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
        /* 114.286% */
    }
}