.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13rem;
    background: $green_color;
    padding: 0 5.6rem;
    transition: all 0.4s ease-in-out;
    z-index: 996;

    @include media('sp') {
        padding: 4.0rem 2.0rem 0;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 100%;

        .right-wrapper {
            margin-left: 6.0rem;
            display: flex;
            align-items: center;
            column-gap: 5.6rem;
        }
    }

    .header-logo {
        position: relative;
        width: 37.8rem;
        padding: 0;
        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            img {
                display: block;
                width: 100%;
            }
        }
    }

    .btn-wrapper {
        display: flex;
        align-items: center;
        column-gap: 2.0rem;
    }
}

.header-nav {
    position: relative;
    padding: 0;

    @include media('tb') {
        display: none;
    }

    .nav-menu {
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;

        &>li {
            position: relative;
            padding: 0;

            &:not(:first-child) {
                margin-left: 4.8rem;
            }

            .menu-link {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                font-family: $font_gothic;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.8rem;
                letter-spacing: 0.08em;
                color: #FFF;
                margin: 0;
                white-space: nowrap;
                text-decoration: none;
                cursor: pointer;
                z-index: 0;

                img {
                    display: inline-block;
                    flex: 0 0 auto;
                    width: 1.1rem;
                    margin-left: 0.6rem;
                }

                svg {
                    display: inline-block;
                    width: initial;
                    height: auto;
                    margin-left: 0.6rem;
                }

                span {
                    color: inherit;
                    text-decoration: none;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #FFFFFF;
                    transform-origin: center center;
                    transform: scale(0, 1);
                    transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
                }

                &:hover,
                &.active {
                    &::before {
                        transform: scale(1, 1);
                    }
                }
            }
        }
    }
}